<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="azure-mobile-services-client.TypeScript.DefinitelyTyped" version="0.9.9" targetFramework="mdd81" />
  <package id="azure-sb.TypeScript.DefinitelyTyped" version="0.0.1" targetFramework="mdd81" />
  <package id="express.TypeScript.DefinitelyTyped" version="0.0.1" targetFramework="mdd81" />
  <package id="mime.TypeScript.DefinitelyTyped" version="0.0.1" targetFramework="mdd81" />
  <package id="node.TypeScript.DefinitelyTyped" version="0.0.1" targetFramework="mdd81" />
  <package id="serve-static.TypeScript.DefinitelyTyped" version="0.0.1" targetFramework="mdd81" />
</packages>